.banners {
  width: 100%;
  margin: 20px 0;
}
.banners img {
  width: 100%;
}

.banner-y-notas {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 10px;
}
.banner-y-notas img {
  width: 100%;
}
.formulario {
  margin-top: 10px;
}
.formulario input {
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
.formulario button {
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
